### 5.1. Importing Necessary Libraries

In [4]:
import yfinance as yf
import numpy as np
import pandas as pd
import pywt

In [2]:
# getting s&p500 data
snp500 = yf.download(tickers=['^GSPC'], start='2000-01-03', end='2019-07-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
snp500

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2019-06-24,2951.419922,2954.919922,2944.050049,2945.350098,2945.350098,3136250000
2019-06-25,2945.780029,2946.520020,2916.010010,2917.379883,2917.379883,3578050000
2019-06-26,2926.070068,2932.590088,2912.989990,2913.780029,2913.780029,3478130000
2019-06-27,2919.659912,2929.300049,2918.570068,2924.919922,2924.919922,3122920000
2019-06-28,2932.939941,2943.979980,2929.050049,2941.760010,2941.760010,5420700000

### 5.2. Preparing dataset

Due to the complex and violatile stock market and various trading restrictions, stock prices observed are noisy. Simultaneously, financial time series is non-stationary and exhibits the overlapping of useful signals and noise, which makes traditional denoising methods ineffective.

Therefore, a wavelet transform with multi-scale characteristics to denoise the dataset by using it to separate the useful signal from the noise. Specifically, the coif3 wavelet function with 3 decomposition layers. 

[Source](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0227222)